<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restolog">
  <meta name="theme-color" content="#3C4048"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <title>Restolog</title>
</head>
<body>
	<a href="#konten" tabindex="0" class="skiptocontent">Menuju ke konten</a>
	<app-bar></app-bar>
	<main id="mainContent" tabindex="0"></main>
	<footer-bar></footer-bar>
</body>
</html>
